@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'outfit', sans-serif;
}

body {
  display: grid;
  place-content: center;
  background-color: hsl(212, 45%, 89%);
  padding: 1rem;
}

.card {
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  box-shadow: 0 2px 10px hsl(0, 0%, 0%, 5%);
}

.card,
.attribution {
  max-width: 320px;
  padding: 1em;
}

.attribution {  
  padding: 1rem;
  text-align: center;
  color: hsl(220, 15%, 55%);
}

img {
  width: 100%;
  height: auto;
  border-radius: 9px;
}

a {
  text-decoration: none;
  color: hsl(220, 15%, 55%);
}

a:hover {
  color: hsl(0, 100%, 63%);
}

/* -------------------------------
  Typography
  --------------------------------*/

h1 {
  color: hsl(218, 44%, 22%); 
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1em 0 1em 0;
}

p {
  display: inline-block;
  color: hsl(220, 15%, 55%);
  font-size: 0.9375rem;
  font-weight: 400;
  margin-bottom: 2em;
  width: 90%;
}